@use "@/assets/styles/variables.scss";
@use "@/assets/styles/element-plus.scss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

