@use "@/assets/styles/variables.scss";
@use "@/assets/styles/element-plus.scss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  color: #fff;
  border-radius: 10px;
  transition: background-color 1s ease;
}

:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}
